@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f4ed;
  --primary-color: #d65227;
  --secondary-color: #1e1e1e;
  --tertiary-color: #f2ebe3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f4ed;
    --primary-color: #d65227;
    --secondary-color: #1e1e1e;
    --tertiary-color: #f2ebe3;
  }
}

body {
  color: var(--secondary-color);
  background: var(--background);
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1 {
  color: var(--primary-color);
}
@media (prefers-color-scheme: dark) {
  h1 {
    color: var(--primary-color);
  }
}